<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>
        {{subject}}
    </title>
</head>
<body>
    <div class="container mt-2">
        <p>hi {{datas}}</p>
    </div>
</body>
</html>
