<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>
        {{subject}}
    </title>
</head>
<body>
    <div class="container mt-2">
        <header>
           <nav>bruh</nav>
          <nav>|||</nav>
          
        </header>
        <section>
            <h1>idk</h1>
            <a href="bruh">bruh</a>
        </section>
        <footer>
            
          <p>footer</p>
        </footer>
    </div>
</body>
</html>
