<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>
        {{subject}}
    </title>
</head>
<body>
    <div class="container mt-2">
        <header>
           <nav>bruh</nav>
        </header>
        <section>
            <a href="bruh">bruh</a>
        </section>
        <footer>
            
          <p>footer</p>
        </footer>
    </div>
</body>
</html>
